header {
    background: #005f73; 
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul {
    padding: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

